.method__list {
    list-style-type: none;
}

.method {
    padding-left: 25rem;
    margin-bottom: 10rem;
}

.method__title {
    max-width: 10rem;
    margin-left: auto;
    margin-bottom: 5rem;
}

.method__item {
    margin-bottom: 2rem;
}

.add-color {
    color: $blur-color;
    background-color: $add-color;
}

@media screen and (max-width:$tablet-width) {
    .method {
        padding-left: 15rem;
    }
}

@media screen and (max-width: $mobile-width) and (max-width: $tablet-width) {
    .method {
        padding: 0;
    }
}