* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/white-line1.svg") 0% 1% / 100% no-repeat,
                url("../img/white-line2.svg") 0% 28% / 100% no-repeat,
                url("../img/white-line1.svg") 0% 73% / 100% no-repeat,
                url("../img/blur-green.png") 70% -2% no-repeat,
                url("../img/blur-peach.png") -120% 7% / 80% no-repeat,
                url("../img/blur-green.png") 120% 70% no-repeat,
                url("../img/blur-green.png") 50% 97% no-repeat,
                url("../img/circle.svg") 80% 2% no-repeat,
                url("../img/circle.svg") 47% 13% no-repeat,
                url("../img/circle.svg") 10% 68% no-repeat,
                $bgr-color ;
}

.container {
    padding: 4rem 8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 1.125rem;
    text-align: left;
    color: $font-color;
}

@media screen and (max-width: $tablet-width) {
    .container {
        padding: 3rem;
        font-size: 1rem;
    }

    body {
        background: 
                    url("../img/white-line1.svg") 0% 1% / 100% no-repeat,
                    url("../img/white-line2.svg") 0% 34% / 100% no-repeat,
                    url("../img/white-line1.svg") 0% 71% / 100% no-repeat,
                    url("../img/blur-green.png") 70% -2% no-repeat,
                    url("../img/blur-green.png") -130% 10% no-repeat,
                    url("../img/blur-peach.png") -120% 18% / 80% no-repeat,
                    url("../img/blur-green.png") -120% 73% no-repeat,
                    url("../img/blur-green.png") 50% 97% no-repeat,
                    url("../img/circle.svg") 80% 2% no-repeat,
                    url("../img/circle.svg") 47% 12% no-repeat,
                    url("../img/circle.svg") 77% 32% no-repeat,
                    url("../img/circle.svg") 12% 68% no-repeat,
                    $bgr-color;
    }
}