.more__img {
  max-width: 34rem;
}

.more__button {
  margin-top: 5rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: $font-color;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s linear;

  &:hover {
    color: $add-color;
  }
}

.more {
  margin-bottom: 5rem;
}

.more__title {
  margin-bottom: 5rem;
  text-align: center;
  letter-spacing: 5px;
}

.more__img-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.education-btn {
  position: relative;
}

.education-btn::before {
  content: url("../img/circle1.svg");
  position: absolute;
  top: -25px;
  left: -15px;
}

.work-btn {
  position: relative;
}

.work-btn::before {
  content: url("../img/circle2.svg");
  position: absolute;
  top: -25px;
  left: -15px;
}

.pseudo {
  position: relative;
}

.pseudo::before {
  content: url("../img/Arrow1.svg");
  position: absolute;
  top: -180px;
  transform: rotate(20deg);
}

.pseudo2 {
  position: relative;
}

.pseudo2::before {
  content: url("../img/Arrow2.svg");
  position: absolute;
  top: -180px;
  right: 90px;
  transform: rotate(-20deg);
}

@media screen and (max-width: $tablet-width) {
  .more__title {
    letter-spacing: normal;
  }

  .more__img {
    max-width: 23rem;
    position: relative;
  }

  .education-btn::before {
    left: 15px;
    display: none;
  }

  .work-btn::before {
    left: -50px;
    display: none;
  }

  .more__button {
    max-width: 13rem;
    font-size: 1rem;
  }

  .education-btn::before {
    width: 3rem;
  }

  .pseudo2::before,
  .pseudo::before {
    display: none;
  }

  .work-btn {
    position: absolute;
    right: 8%;
    max-width: 6.5rem;
  }

  .education-btn {
    position: absolute;
    left: 15%;
    z-index: 1;
  }

  .edu-btn {
    writing-mode: vertical-lr;
    text-orientation: upright;
  }
}
