.price {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;

  &::before {
    content: url("../img/wave.png");
    position: absolute;
    left: -15%;
    top: -250px;
  }
}

.price__title {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.price__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 7rem 0;

  &_1 {
    padding-right: auto;
    border-bottom: 0.5px solid $font-color;
  }

  &_2 {
    border-top: 0.5px solid $font-color;
  }
}

.price__text {
  max-width: 25rem;

  &_margin {
    margin-bottom: 3rem;
    align-items: center;
  }
}

.price__button {
  position: absolute;
  right: 0;
  top: 385px;
  padding: 3% 2%;
  // padding: 1.875rem 2.5rem;
}

@media screen and (max-width: $tablet-width) {
  .price__text {
    max-width: 18rem;
  }

  .price__button {
    left: 50%;
    padding: 1.4rem 1.5rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: $mobile-width) and (max-width: $tablet-width) {
  .price {
    flex-direction: column;
    justify-content: stretch;
    border-top: 1px solid $font-color;
  }

  .price__wrapper {
    width: 100%;
    // padding: 7rem 0 1rem 0;
  }

  .price__button {
    display: block;
    top: 530px;
    font-size: 1rem;
  }

  .price__wrapper_1 {
    padding: 7rem 0 1rem 0;
    border-bottom: none;
  }
  .price__wrapper_2 {
    padding: 3rem 0 10rem 0;
    border-top: none;
    border-bottom: 0.5px solid $font-color;
  }

  .price::before {
    max-width: 200px;
  }

  .price__title {
    padding: 0 2rem;
  }

  .price::before {
    content: "";
  }
}
