@import "./__title/faq-container__title.scss";
@import "./__wrapper/faq-container__wrapper.scss";

.faq-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  margin-bottom: 4rem;
}

@media screen and (max-width: $tablet-width) {
  .faq-container {
    padding: 3rem 0;
    margin-bottom: 0;
  }
}
